@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn {
    @apply px-6 py-4 rounded-full font-bold text-sm 
    transition-colors duration-300 ease-in-out;
  }
  .btn-primary {
    @apply btn bg-[#7C5DFA] hover:bg-[#9277FF] text-white;
  }
}
