:root {
  /* background */
  --color-bg: #f8f8fb;
  --color-bg-alt: #ffffff;
  --color-bg-dropdown: #ffffff;
  --color-bg-logo-purple: #9277ff;

  /* text */
  --color-text: #0c0e16;
  --color-text-secondary: #888eb0;
  --color-text-dropdown: #1e2139;

  /* accent / primary */
  --color-primary: #7c5dfa;
  --color-accent: #ec5757;

  /* hover */
  --color-hover-purple: #9277ff;
}

.theme-dark {
  /* background */
  --color-bg: #141625;
  --color-bg-alt: #1e2139;
  --color-bg-dropdown: #252945;

  /* text */
  --color-text: #ffffff;
  --color-text-secondary: #dfe3fa;
  --color-text-dropdown: #ffffff;
}
