:root {
  /* background */
  --color-bg: #f8f8fb;
  --color-bg-alt: #ffffff;
  --color-bg-dropdown: #ffffff;
  --color-bg-logo-purple: #9277ff;
  --color-bg-table: #f9fafe;
  --color-details-tootal-bg: #373b53;

  /* text */
  --color-text: #0c0e16;
  --color-text-secondary: #888eb0;
  --color-text-dropdown: #1e2139;
  --color-text-gray-blue: #7e88c3;

  /* btn text */
  --accent-btn-text: #7e88c3;

  /* accent / primary */
  --color-btn-primary: #7c5dfa;
  --color-btn-danger: #ec5757;
  --accent-btn-bg: #f9fafe;

  /* hover */
  --color-hover-purple: #9277ff;
}

.theme-dark {
  /* background */
  --color-bg: #141625;
  --color-bg-alt: #1e2139;
  --color-bg-dropdown: #252945;
  --color-bg-table: #252945;
  --color-details-tootal-bg: #0c0e16;

  /* text */
  --color-text: #ffffff;
  --color-text-secondary: #dfe3fa;
  --color-text-dropdown: #ffffff;
  --color-text-gray-blue: #dfe3fa;

  /* btn text */
  --accent-btn-text: #dfe3fa;

  /* buttons */
  --accent-btn-bg: #252945;
}
